<% if(posts.length !== 0) { %>
  <ul class="<%= options.ulClass %>">
    <% posts.forEach(function(post){ %>
      <li class="<%= options.liClass %>">
        <div class="<%= options.thumClass %>" style="background-image:url(<%= post.image %>)"></div>
        <div class="<%= options.contentClass %>">
          <a href="<%= root %><%= post.path %>"><%= post.title %></a>
        </div>
      </li>
    <% }) %>
  </ul>
<% } else { %>
  <p><%= options.noResultMeessage %></p>
<% } %>
